<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h4>BidRoom</h4>
        <p>{{ 'footer.tagline' | translate }}</p>
      </div>
      <div class="col-3">
        <h4>{{ 'footer.quickLinks' | translate }}</h4>
        <ul>
          <li><a href="#" role="button" (click)="navigateToHowItWorks(); $event.preventDefault()" (keydown.enter)="navigateToHowItWorks(); $event.preventDefault()">{{ 'footer.howItWorks' | translate }}</a></li>
          <li><a href="#" role="button" (click)="navigateToContact(); $event.preventDefault()" (keydown.enter)="navigateToContact(); $event.preventDefault()">{{ 'footer.contact' | translate }}</a></li>
          <li><a href="#" role="button" (click)="navigateToFaq(); $event.preventDefault()" (keydown.enter)="navigateToFaq(); $event.preventDefault()">{{ 'footer.faq' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4>{{ 'footer.legal' | translate }}</h4>
        <ul>
          <li><a href="#" role="button" (click)="navigateToPrivacyPolicy(); $event.preventDefault()" (keydown.enter)="navigateToPrivacyPolicy(); $event.preventDefault()">{{ 'footer.privacyPolicy' | translate }}</a></li>
          <li><a href="#" role="button" (click)="navigateToTermsConditions(); $event.preventDefault()" (keydown.enter)="navigateToTermsConditions(); $event.preventDefault()">{{ 'footer.termsConditions' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4>{{ 'footer.connect' | translate }}</h4>
        <div class="social-links">
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>{{ 'footer.copyright' | translate }}</p>
    </div>
  </div>
</footer>
