<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h4>BidRoom</h4>
        <p>Your premier auction marketplace for unique finds and valuable treasures.</p>
      </div>
      <div class="col-3">
        <h4>Quick Links</h4>
        <ul>
          <li><a (click)="navigateToHowItWorks()">How It Works</a></li>
          <li><a (click)="navigateToContact()">Contact</a></li>
          <li><a (click)="navigateToFaq()">FAQ</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4>Legal</h4>
        <ul>
          <li><a (click)="navigateToPrivacyPolicy()">Privacy Policy</a></li>
          <li><a (click)="navigateToTermsConditions()">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4>Connect</h4>
        <div class="social-links">
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 BidRoom. All rights reserved.</p>
    </div>
  </div>
</footer>
